In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("new_churn_data.csv")
df.head(10)

,user,churn,age,housing,deposits,withdrawal,purchases_partners,purchases,cc_taken,cc_recommended,...,payment_type,waiting_4_loan,cancelled_loan,received_loan,rejected_loan,zodiac_sign,left_for_two_month_plus,left_for_one_month,reward_rate,is_referred
0,55409,0,37.0,na,0,0,0,0,0,0,...,Bi-Weekly,0,0,0,0,Leo,1,0,0.00,0
1,23547,0,28.0,R,0,0,1,0,0,96,...,Weekly,0,0,0,0,Leo,0,0,1.47,1
2,58313,0,35.0,R,47,2,86,47,0,285,...,Semi-Monthly,0,0,0,0,Capricorn,1,0,2.17,0
3,8095,0,26.0,R,26,3,38,25,0,74,...,Bi-Weekly,0,0,0,0,Capricorn,0,0,1.10,1
4,61353,1,27.0,na,0,0,2,0,0,0,...,Bi-Weekly,0,0,0,0,Aries,1,0,0.03,0
5,3120,1,32.0,R,5,3,111,5,0,227,...,Bi-Weekly,0,0,0,0,Taurus,0,0,1.83,0
6,41406,0,21.0,na,0,0,4,0,0,0,...,Bi-Weekly,0,0,0,0,Cancer,0,0,0.07,0
7,67679,0,24.0,na,0,0,2,0,0,0,...,na,0,0,0,0,Leo,0,0,0.11,0
8,21269,0,28.0,R,0,0,0,0,2,47,...,Bi-Weekly,0,0,0,0,Sagittarius,0,0,0.87,1
9,25788,0,23.0,na,1,0,87,1,0,125,...,Bi-Weekly,0,0,0,0,Aquarius,0,0,1.07,0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26996 entries, 0 to 26995
Data columns (total 28 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   user                     26996 non-null  int64
 1   churn                    26996 non-null  int64
 2   age                      26996 non-null  float64
 3   housing                  26996 non-null  object
 4   deposits                 26996 non-null  int64
 5   withdrawal               26996 non-null  int64
 6   purchases_partners       26996 non-null  int64
 7   purchases                26996 non-null  int64
 8   cc_taken                 26996 non-null  int64
 9   cc_recommended           26996 non-null  int64
 10  cc_disliked              26996 non-null  int64
 11  cc_liked                 26996 non-null  int64
 12  cc_application_begin     26996 non-null  int64
 13  app_downloaded           26996 non-null  int64
 14  web_user                 26996 non-null  int64
 15  ios_user                 26996 non-null  int64
 16  android_user             26996 non-null  int64
 17  registered_phones        26996 non-null  int64
 18  payment_type             26996 non-null  object
 19  waiting_4_loan           26996 non-null  int64
 20  cancelled_loan           26996 non-null  int64
 21  received_loan            26996 non-null  int64
 22  rejected_loan            26996 non-null  int64
 23  zodiac_sign              26996 non-null  object
 24  left_for_two_month_plus  26996 non-null  int64
 25  left_for_one_month       26996 non-null  int64
 26  reward_rate              26996 non-null  float64
 27  is_referred              26996 non-null  int64
dtypes: float64(2), int64(23), object(3)
memory usage: 5.8+ MB

In [4]:
df.corr()

,user,churn,age,deposits,withdrawal,purchases_partners,purchases,cc_taken,cc_recommended,cc_disliked,...,android_user,registered_phones,waiting_4_loan,cancelled_loan,received_loan,rejected_loan,left_for_two_month_plus,left_for_one_month,reward_rate,is_referred
user,1.000000,0.068663,-0.022443,-0.182143,-0.111446,-0.296324,-0.182230,-0.078437,-0.522829,-0.036996,...,-0.097284,-0.097917,0.015280,0.006195,-0.031182,0.025537,-0.026121,-0.029136,-0.489710,-0.164485
churn,0.068663,1.000000,-0.063206,-0.135381,-0.068543,-0.260784,-0.135921,0.058383,-0.198570,0.009423,...,-0.036626,0.028578,-0.013558,0.035275,0.049960,0.056457,0.005094,0.036134,-0.167193,-0.083241
age,-0.022443,-0.063206,1.000000,0.088757,0.044177,-0.000943,0.088769,0.077199,0.095860,0.005577,...,-0.210068,-0.001354,0.004164,-0.003713,-0.001808,0.011030,-0.022500,0.034534,0.086167,-0.001557
deposits,-0.182143,-0.135381,0.088757,1.000000,0.488902,0.326588,0.998554,-0.047058,0.376123,-0.014680,...,-0.002171,0.040044,-0.002928,0.011381,-0.009439,-0.018501,0.048370,-0.011354,0.267635,0.229957
withdrawal,-0.111446,-0.068543,0.044177,0.488902,1.000000,0.223692,0.488285,-0.040658,0.187423,-0.011105,...,-0.004248,0.047112,0.003173,-0.002577,-0.006240,-0.009826,0.032079,-0.009968,0.125363,0.211614
purchases_partners,-0.296324,-0.260784,-0.000943,0.326588,0.223692,1.000000,0.326529,-0.101511,0.594491,-0.035335,...,0.048343,0.072166,0.000089,0.014012,-0.015040,-0.030989,0.082333,-0.032074,0.432839,0.301542
purchases,-0.182230,-0.135921,0.088769,0.998554,0.488285,0.326529,1.000000,-0.047082,0.376666,-0.014583,...,-0.001371,0.039667,-0.002712,0.011687,-0.009273,-0.018337,0.048654,-0.011511,0.268124,0.230099
cc_taken,-0.078437,0.058383,0.077199,-0.047058,-0.040658,-0.101511,-0.047082,1.000000,0.115100,0.182655,...,-0.044865,0.042719,-0.006079,0.004685,0.046760,0.006387,-0.016006,0.085823,0.149156,-0.025004
cc_recommended,-0.522829,-0.198570,0.095860,0.376123,0.187423,0.594491,0.376666,0.115100,1.000000,0.048076,...,0.093413,0.125966,-0.018087,0.014188,0.044977,-0.037966,0.045625,0.037735,0.877549,0.241626
cc_disliked,-0.036996,0.009423,0.005577,-0.014680,-0.011105,-0.035335,-0.014583,0.182655,0.048076,1.000000,...,0.005893,0.025728,-0.002094,0.011349,0.014676,-0.002854,-0.012925,0.033594,0.060708,-0.009285
cc_liked,-0.027469,0.010886,0.019512,-0.012111,-0.003197,-0.033016,-0.012194,0.168530,0.055571,0.095500,...,-0.005965,0.025381,-0.001984,0.002677,0.021603,-0.001630,-0.007150,0.007706,0.064473,-0.012215
cc_application_begin,-0.316604,-0.118590,0.164872,0.452493,0.295733,0.411316,0.453160,0.165640,0.611520,0.083475,...,-0.009366,0.101539,-0.001645,0.008788,0.029661,-0.021088,0.031599,0.047561,0.512871,0.272574
app_downloaded,-0.299676,-0.055647,-0.113648,0.081717,0.064956,0.148423,0.081647,0.037674,0.231652,0.012775,...,0.266326,0.102973,0.003205,-0.010095,0.016053,-0.004323,-0.014080,0.005457,0.257467,0.152472
web_user,-0.045886,0.035053,0.215194,0.076792,0.047372,0.063708,0.076392,0.057646,0.130145,0.018129,...,-0.113570,0.066851,-0.017310,0.023472,0.027444,0.013028,0.048120,0.037097,0.099544,0.053898
ios_user,-0.043741,0.017026,0.161702,0.042230,0.039020,0.029793,0.041387,0.063824,0.023953,0.002125,...,-0.840084,0.085816,-0.005877,-0.012354,-0.004224,-0.002180,-0.043450,0.011799,0.010560,0.081334
android_user,-0.097284,-0.036626,-0.210068,-0.002171,-0.004248,0.048343,-0.001371,-0.044865,0.093413,0.005893,...,1.000000,0.089020,0.007207,0.005362,0.013326,0.000523,0.038742,-0.008793,0.114015,-0.003460
registered_phones,-0.097917,0.028578,-0.001354,0.040044,0.047112,0.072166,0.039667,0.042719,0.125966,0.025728,...,0.089020,1.000000,-0.010978,0.003028,0.036832,0.005485,0.024703,0.031541,0.110430,0.068209
waiting_4_loan,0.015280,-0.013558,0.004164,-0.002928,0.003173,0.000089,-0.002712,-0.006079,-0.018087,-0.002094,...,0.007207,-0.010978,1.000000,0.017738,-0.004904,-0.002526,-0.013788,0.010565,-0.016337,-0.002499
cancelled_loan,0.006195,0.035275,-0.003713,0.011381,-0.002577,0.014012,0.011687,0.004685,0.014188,0.011349,...,0.005362,0.003028,0.017738,1.000000,0.052553,0.037190,0.009271,0.011903,0.013989,-0.006175
received_loan,-0.031182,0.049960,-0.001808,-0.009439,-0.006240,-0.015040,-0.009273,0.046760,0.044977,0.014676,...,0.013326,0.036832,-0.004904,0.052553,1.000000,0.002381,0.008658,0.023146,0.061042,-0.020918
rejected_loan,0.025537,0.056457,0.011030,-0.018501,-0.009826,-0.030989,-0.018337,0.006387,-0.037966,-0.002854,...,0.000523,0.005485,-0.002526,0.037190,0.002381,1.000000,0.001545,-0.001539,-0.014676,-0.022780
left_for_two_month_plus,-0.026121,0.005094,-0.022500,0.048370,0.032079,0.082333,0.048654,-0.016006,0.045625,-0.012925,...,0.038742,0.024703,-0.013788,0.009271,0.008658,0.001545,1.000000,0.017877,0.023066,0.031459
left_for_one_month,-0.029136,0.036134,0.034534,-0.011354,-0.009968,-0.032074,-0.011511,0.085823,0.037735,0.033594,...,-0.008793,0.031541,0.010565,0.011903,0.023146,-0.001539,0.017877,1.000000,0.052235,-0.037725
reward_rate,-0.489710,-0.167193,0.086167,0.267635,0.125363,0.432839,0.268124,0.149156,0.877549,0.060708,...,0.114015,0.110430,-0.016337,0.013989,0.061042,-0.014676,0.023066,0.052235,1.000000,0.167735
is_referred,-0.164485,-0.083241,-0.001557,0.229957,0.211614,0.301542,0.230099,-0.025004,0.241626,-0.009285,...,-0.003460,0.068209,-0.002499,-0.006175,-0.020918,-0.022780,0.031459,-0.037725,0.167735,1.000000

In [5]:
df.isnull().sum()

user                       0
churn                      0
age                        0
housing                    0
deposits                   0
withdrawal                 0
purchases_partners         0
purchases                  0
cc_taken                   0
cc_recommended             0
cc_disliked                0
cc_liked                   0
cc_application_begin       0
app_downloaded             0
web_user                   0
ios_user                   0
android_user               0
registered_phones          0
payment_type               0
waiting_4_loan             0
cancelled_loan             0
received_loan              0
rejected_loan              0
zodiac_sign                0
left_for_two_month_plus    0
left_for_one_month         0
reward_rate                0
is_referred                0
dtype: int64

In [6]:
df.describe()

,user,churn,age,deposits,withdrawal,purchases_partners,purchases,cc_taken,cc_recommended,cc_disliked,...,android_user,registered_phones,waiting_4_loan,cancelled_loan,received_loan,rejected_loan,left_for_two_month_plus,left_for_one_month,reward_rate,is_referred
count,26996.000000,26996.000000,26996.000000,26996.000000,26996.000000,26996.000000,26996.000000,26996.000000,26996.000000,26996.000000,...,26996.000000,26996.000000,26996.000000,26996.000000,26996.000000,26996.000000,26996.00000,26996.000000,26996.000000,26996.000000
mean,35418.535302,0.413913,32.219921,3.342051,0.307045,28.066677,3.273967,0.073789,92.639502,0.050637,...,0.587235,0.420988,0.001296,0.018818,0.018188,0.004890,0.17347,0.018077,0.907819,0.318010
std,20319.620354,0.492542,9.964838,9.131992,1.055488,42.221432,8.953651,0.437331,88.868773,0.871431,...,0.492340,0.912884,0.035984,0.135883,0.133633,0.069756,0.37866,0.133232,0.751991,0.465712
min,1.000000,0.000000,17.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
25%,17808.750000,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,10.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.200000,0.000000
50%,35745.500000,0.000000,30.000000,0.000000,0.000000,9.000000,0.000000,0.000000,65.000000,0.000000,...,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.780000,0.000000
75%,53236.750000,1.000000,37.000000,1.000000,0.000000,43.000000,1.000000,0.000000,164.000000,0.000000,...,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,1.530000,1.000000
max,69658.000000,1.000000,91.000000,65.000000,29.000000,1067.000000,63.000000,29.000000,522.000000,65.000000,...,1.000000,5.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,4.000000,1.000000

In [7]:
# Data set is free of any missing values, so we are good to go

In [8]:
# column "user","zodiac_sign" have no importance hence we can remove it from data set

In [9]:
df.drop(["zodiac_sign","user"], axis=1, inplace=True)

In [10]:
df.head()

,churn,age,housing,deposits,withdrawal,purchases_partners,purchases,cc_taken,cc_recommended,cc_disliked,...,registered_phones,payment_type,waiting_4_loan,cancelled_loan,received_loan,rejected_loan,left_for_two_month_plus,left_for_one_month,reward_rate,is_referred
0,0,37.0,na,0,0,0,0,0,0,0,...,0,Bi-Weekly,0,0,0,0,1,0,0.00,0
1,0,28.0,R,0,0,1,0,0,96,0,...,0,Weekly,0,0,0,0,0,0,1.47,1
2,0,35.0,R,47,2,86,47,0,285,0,...,2,Semi-Monthly,0,0,0,0,1,0,2.17,0
3,0,26.0,R,26,3,38,25,0,74,0,...,0,Bi-Weekly,0,0,0,0,0,0,1.10,1
4,1,27.0,na,0,0,2,0,0,0,0,...,0,Bi-Weekly,0,0,0,0,1,0,0.03,0

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26996 entries, 0 to 26995
Data columns (total 26 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   churn                    26996 non-null  int64
 1   age                      26996 non-null  float64
 2   housing                  26996 non-null  object
 3   deposits                 26996 non-null  int64
 4   withdrawal               26996 non-null  int64
 5   purchases_partners       26996 non-null  int64
 6   purchases                26996 non-null  int64
 7   cc_taken                 26996 non-null  int64
 8   cc_recommended           26996 non-null  int64
 9   cc_disliked              26996 non-null  int64
 10  cc_liked                 26996 non-null  int64
 11  cc_application_begin     26996 non-null  int64
 12  app_downloaded           26996 non-null  int64
 13  web_user                 26996 non-null  int64
 14  ios_user                 26996 non-null  int64
 15  android_user             26996 non-null  int64
 16  registered_phones        26996 non-null  int64
 17  payment_type             26996 non-null  object
 18  waiting_4_loan           26996 non-null  int64
 19  cancelled_loan           26996 non-null  int64
 20  received_loan            26996 non-null  int64
 21  rejected_loan            26996 non-null  int64
 22  left_for_two_month_plus  26996 non-null  int64
 23  left_for_one_month       26996 non-null  int64
 24  reward_rate              26996 non-null  float64
 25  is_referred              26996 non-null  int64
dtypes: float64(2), int64(22), object(2)
memory usage: 5.4+ MB

In [15]:
# the columns of categorical values are : "payment_type", "housing". We need to convert them into numerical values.

In [16]:
df["payment_type"].unique()

array(['Bi-Weekly', 'Weekly', 'Semi-Monthly', 'na', 'Monthly'],
      dtype=object)

In [17]:
df["housing"].unique()

array(['na', 'R', 'O'], dtype=object)

In [18]:
#using one hot encoding method to categorical values to nuerical values

In [19]:
df = pd.get_dummies(df,drop_first=True)

In [20]:
df.head()

,churn,age,deposits,withdrawal,purchases_partners,purchases,cc_taken,cc_recommended,cc_disliked,cc_liked,...,left_for_two_month_plus,left_for_one_month,reward_rate,is_referred,housing_R,housing_na,payment_type_Monthly,payment_type_Semi-Monthly,payment_type_Weekly,payment_type_na
0,0,37.0,0,0,0,0,0,0,0,0,...,1,0,0.00,0,0,1,0,0,0,0
1,0,28.0,0,0,1,0,0,96,0,0,...,0,0,1.47,1,1,0,0,0,1,0
2,0,35.0,47,2,86,47,0,285,0,0,...,1,0,2.17,0,1,0,0,1,0,0
3,0,26.0,26,3,38,25,0,74,0,0,...,0,0,1.10,1,1,0,0,0,0,0
4,1,27.0,0,0,2,0,0,0,0,0,...,1,0,0.03,0,0,1,0,0,0,0

In [21]:
df.dtypes

churn                          int64
age                          float64
deposits                       int64
withdrawal                     int64
purchases_partners             int64
purchases                      int64
cc_taken                       int64
cc_recommended                 int64
cc_disliked                    int64
cc_liked                       int64
cc_application_begin           int64
app_downloaded                 int64
web_user                       int64
ios_user                       int64
android_user                   int64
registered_phones              int64
waiting_4_loan                 int64
cancelled_loan                 int64
received_loan                  int64
rejected_loan                  int64
left_for_two_month_plus        int64
left_for_one_month             int64
reward_rate                  float64
is_referred                    int64
housing_R                      uint8
housing_na                     uint8
payment_type_Monthly           uint8
payment_type_Semi-Monthly      uint8
payment_type_Weekly            uint8
payment_type_na                uint8
dtype: object

In [22]:
#we have ccnverted categorical values to numerical values

In [23]:
# Model creations using different algorithms:

In [24]:
x = df.iloc[:,1:24]

In [25]:
x

,age,deposits,withdrawal,purchases_partners,purchases,cc_taken,cc_recommended,cc_disliked,cc_liked,cc_application_begin,...,android_user,registered_phones,waiting_4_loan,cancelled_loan,received_loan,rejected_loan,left_for_two_month_plus,left_for_one_month,reward_rate,is_referred
0,37.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0.00,0
1,28.0,0,0,1,0,0,96,0,0,5,...,0,0,0,0,0,0,0,0,1.47,1
2,35.0,47,2,86,47,0,285,0,0,9,...,1,2,0,0,0,0,1,0,2.17,0
3,26.0,26,3,38,25,0,74,0,0,26,...,1,0,0,0,0,0,0,0,1.10,1
4,27.0,0,0,2,0,0,0,0,0,0,...,1,0,0,0,0,0,1,0,0.03,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26991,24.0,0,0,0,0,0,81,0,0,2,...,1,2,0,0,0,0,0,0,1.07,1
26992,26.0,0,0,2,0,0,1,0,0,0,...,1,0,0,0,0,1,1,0,0.67,0
26993,22.0,0,0,37,0,0,98,0,0,0,...,1,0,0,0,0,0,0,0,0.93,0
26994,46.0,2,0,16,2,0,58,0,0,2,...,0,0,0,0,0,0,1,0,0.90,1
26995,34.0,0,0,4,0,0,11,0,0,0,...,1,2,0,0,0,0,0,0,0.13,0

In [28]:
y = df.iloc[:,0]

In [29]:
y

0        0
1        0
2        0
3        0
4        1
        ..
26991    1
26992    1
26993    0
26994    1
26995    1
Name: churn, Length: 26996, dtype: int64

In [30]:
# Lets do some pre-processing on x data using StandardScaler

In [31]:
from sklearn.preprocessing import StandardScaler

In [32]:
sc = StandardScaler()
x= sc.fit_transform(x)

In [33]:
# Splitting the data set

In [34]:
from sklearn.model_selection import train_test_split

In [35]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.20, random_state=0)

In [37]:
df.groupby(["churn"]).count()

,age,deposits,withdrawal,purchases_partners,purchases,cc_taken,cc_recommended,cc_disliked,cc_liked,cc_application_begin,...,left_for_two_month_plus,left_for_one_month,reward_rate,is_referred,housing_R,housing_na,payment_type_Monthly,payment_type_Semi-Monthly,payment_type_Weekly,payment_type_na
churn,,,,,,,,,,,,,,,,,,,,,
0,15822,15822,15822,15822,15822,15822,15822,15822,15822,15822,...,15822,15822,15822,15822,15822,15822,15822,15822,15822,15822
1,11174,11174,11174,11174,11174,11174,11174,11174,11174,11174,...,11174,11174,11174,11174,11174,11174,11174,11174,11174,11174

# LOGISTIC REGRESSION

In [38]:
from sklearn.linear_model import LogisticRegression

In [39]:
# model building
from sklearn.linear_model import LogisticRegression

In [40]:
model = LogisticRegression()

In [41]:
model.fit(x_train,y_train)

LogisticRegression()

In [42]:
# predictions
y_pred = model.predict(x_test)

In [43]:
y_pred

array([0, 0, 0, ..., 1, 0, 0], dtype=int64)

In [46]:
#checking accuracy
model.score(x_train,y_train)

0.6525745508427486

In [47]:
model.score(x_test,y_test)

0.6414814814814814

In [48]:
#model evaluation
from sklearn.metrics import accuracy_score, confusion_matrix

In [49]:
cfm = confusion_matrix(y_test,y_pred)

In [50]:
cfm

array([[2370,  796],
       [1140, 1094]], dtype=int64)

In [51]:
#checking accuracy
accuracy_score(y_test,y_pred)

0.6414814814814814

# KNN

In [59]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, confusion_matrix

In [60]:
knn = KNeighborsClassifier(n_neighbors= 9)

In [61]:
knn.fit(x_train, y_train)

KNeighborsClassifier(n_neighbors=9)

In [64]:
y_pred_knn = knn.predict(x_test)

In [65]:
knn.score(x_train,y_train)

0.7240229672161511

In [66]:
knn.score(x_test,y_test)

0.6505555555555556

In [67]:
confusion_matrix(y_test, y_pred_knn)

array([[2399,  767],
       [1120, 1114]], dtype=int64)